<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
{% extends 'main.html' %}
{% block content %}
<style>
    .home-continer{
        display: grid;
        grid-template-columns: 1fr 3fr 1.5fr ;
    }
</style>
<body>
    <div  class="home-continer">
        <div>
            {% include 'base/topics.html' %}
        </div>

        <div>
            <div>
                <div>
                    <h3>{{count}} rooms available</h3>
                    <hr>
                    <h1> <a href="{% url 'create' %}" >Create Room</a></h1>
                    <hr>
                </div>
    
                {% include 'base/feed_comp.html' %}
               
                
            </div>
        </div>

        <div>
            {% include 'base/activity.html'%}
        </div>
    </div>
</body>
{% endblock content %}
</html>